// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$primary: rgb(172, 177, 164);
$link: rgba(189, 180, 164);
$info:rgb(255, 232, 214);
$success:rgb(183, 219, 164);
$warning: rgb(203, 153, 126);
$danger: rgb(203, 130, 126);

