[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
